<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/onsenui/js/onsenui.min.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
    <script src="lib/app.js"></script>
    <!-- <script src="http://10.29.101.152:8080/target/target-script-min.js#anonymous"></script> -->
    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="home">
    <ons-template id="popover.html">
        <ons-popover cancelable direction="down">
            <ons-list>
                <ons-list-item ng-click="getData(id)" modifier="tappable">Refresh</ons-list-item>
                <ons-list-item ng-click="clickAbout()" modifier="tappable">About</ons-list-item>
            </ons-list>
        </ons-popover>
    </ons-template>
    <ons-navigator var="myNavigator" page="homeAwal"></ons-navigator>
    <ons-template id="homeAwal">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <span class="fontGrobold">Bandung Banget!</span>
                </div>
                <div class="right">
                    <ons-toolbar-button ng-click="tulisInfo()">
                        <ons-icon icon="md-edit"></ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button ng-click="popover.show($event)">
                        <ons-icon icon="ion-navicon"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <div ng-show="loadingBar" class="progress-bar progress-bar--indeterminate">
                <div class="progress-bar__primary"></div>
                <div class="progress-bar__secondary"></div>
            </div>
            <ons-carousel ng-show="!contentImageWrap" var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" fullscreen swipeable auto-scroll overscrollable>
                <ons-carousel-item ng-style="{ 'background-color': warnaBackground }">
                    <div style="text-align: center; font-size: 2.3em; padding: 0.7em; margin-top: 3.4em; color: #fff;">
                        <span class="fontBebas" ng-bind-html="ringkasan | unsafe"></span>
                    </div>
                </ons-carousel-item>
                <ons-carousel-item ng-repeat="(key, value) in items.images" ng-style="{ 'background-image': 'url({{value}})' }" style="background-size: cover; background-repeat: no-repeat;">
                    <div ng-click="showDetail(id, key)" style="width: 100%; background-color: #000; opacity: 0.8; font-size: 0.8em; text-align: left; padding: 0.5em; position: absolute; bottom: 0; color: #fff;">
                        <p ng-bind-html="$parent.items.konten[key] | unsafeHome"></p>
                    </div>
                </ons-carousel-item>
            </ons-carousel>
            <ons-template id="about">
                <ons-page>
                    <ons-toolbar>
                        <div class="left">
                            <ons-back-button>Back</ons-back-button>
                        </div>
                        <div class="center fontGrobold">About</div>
                    </ons-toolbar>
                    <ons-list style="border-top: none">
                        <ons-list-item modifier="chevron tappable">
                            <div style="text-align: justify;" class="prop-desc">
                                <p><font style="margin-left: 0 !important;" class="fontGrobold">BandungBanget!</font> merupakan sebuah wadah untuk berbagi informasi para Mojang dan Jajaka di seluruh dunia, khususna Urang Bandung.</p>
                                <p>Bagi kami, Kota Bandung merupakan tempat yang gak akan ada habis nya untuk di ulas kalo bahasa sunda-nya, "<strong>Bandung</strong> mah moal beakeun info". Dengan adanya aplikasi ini, diharapkan dapat memberikan informasi yang bermanfaat bagi pengguna-nya.</p>
                                <p>Aplikasi ini dikembangkan secara sukarela, konten yang ada merupakan konten pilihan yang di input ulang oleh tim kami. Jika kamu punya informasi yang bermanfaat bagi Warga Bandung. Silahkan kirim info kamu dengan melakukan klik pada icon <ons-icon style="background-color: #CCC; padding: 0.7em; font-weight: bold;" icon="md-edit"></ons-icon> yang ada dibagian atas aplikasi.</p>
                                <p>Aplikasi ini dikembangkan dan di maintanance oleh <strong>hitamcoklat.com</strong></p>
                                <p>Informasi, kritik dan saran silahkan kirim ke <strong>info@hitamcoklat.com</strong></p>
                            </div>
                        </ons-list-item>
                    </ons-list>
                </ons-page>
            </ons-template>
            <ons-speed-dial position="bottom right" direction="up">
                <ons-fab class="bg-merah">
                    <ons-icon icon="md-plus"></ons-icon>
                </ons-fab>
                <ons-speed-dial-item ng-click="perKategori('event')" class="bg-merah">
                    <ons-icon icon="md-filter-frames"></ons-icon>
                </ons-speed-dial-item class="bg-merah">
                <ons-speed-dial-item ng-click="perKategori('article')" class="bg-merah">
                    <ons-icon icon="md-rss"></ons-icon>
                </ons-speed-dial-item>
            </ons-speed-dial>
        </ons-page>
    </ons-template>
    <!-- DETAIL -->
    <ons-template id="detail">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center">{{ data.judul }}</div>
            </ons-toolbar>
            <div style="background-size: cover; background-repeat: no-repeat; background-image: url('{{ data.image }}');" class="card">
                <div class="card-name">{{ data.judul }}</div>
            </div>
            <ons-list style="border-top: none">
                <ons-list-item modifier="chevron tappable">
                    <div class="prop-desc">
                        <p ng-bind-html="data.konten | unsafe"></p>
                    </div>
                    <button ng-click="lihatMap(data.imageDes, data.judul)" style="width: 95%" class="button button--large">Lihat Peta</button>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>
    <!-- END DETAIL -->
    <!-- LIST PERKATEGORI -->
    <ons-template id="perKategori">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center">{{ titleHead }}</div>
            </ons-toolbar>
            <div ng-show="loadingBar" class="progress-bar progress-bar--indeterminate">
                <div class="progress-bar__primary"></div>
                <div class="progress-bar__secondary"></div>
            </div>
            <ons-scroller ng-show="!contentImageWrap">
                <ons-list ng-repeat="item in itemPerKategori">
                    <ons-list-item style="margin-bottom: 2px;" ng-click="showDetaiKategori(item.id, toJenis)" modifier="tappable" tappable>{{ item.judul }} <span class="labelInfo merah">{{ item.nama_kategori }}</span></ons-list-item>
                </ons-list>
            </ons-scroller>
        </ons-page>
    </ons-template>
    <!-- END LIST PERKATEGORI -->
    <!-- DETAIL EVENT -->
    <ons-template id="detailEvent">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center">{{ datas.judul }}</div>
            </ons-toolbar>
            <div style="background-size: cover; background-repeat: no-repeat; background-image: url('{{ datas.file_image }}');" class="card">
                <div class="card-name"><font class="labelEventJudul">{{ datas.judul }}</font></div>
            </div>
            <ons-list style="border-top: none">
                <ons-list-item modifier="chevron tappable">
                    <div class="prop-desc deskripsiEvent">
                        <p ng-bind-html="datas.konten | unsafe"></p>
                        <p><img style="width: 97%;" ng-src="{{ datas.file_image }}" /></p>
                    </div>
                    <button style="width: 96%" class="button button--large" ng-click="shareInfo(datas.judul, datas.konten, datas.id, datas.file_image, shorturl)">Bagikan Info <ons-icon icon="fa-paper-plane"></ons-icon></button>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>
    <!-- END DETAIL EVENT -->
    <!-- DETAIL ARSIP -->
    <ons-template id="detailArsip">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center">{{ perKategoriJudul }}</div>
            </ons-toolbar>
            <ons-carousel ng-show="!contentImageWrap" var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" fullscreen swipeable auto-scroll overscrollable>
                <ons-carousel-item ng-style="{ 'background-color': warnaBackground }">
                    <div style="text-align: center; font-size: 2.3em; padding: 0.7em; margin-top: 3.4em; color: #fff;">
                        <span class="fontBebas" ng-bind-html="perKategoriRingkasan | unsafe"></span>
                    </div>
                </ons-carousel-item>
                <ons-carousel-item ng-repeat="(key, value) in datas.images" ng-style="{ 'background-image': 'url({{value}})' }" style="background-size: cover; background-repeat: no-repeat;">
                    <div ng-click="showDetail(perKategoriid, key)" style="width: 100%; background-color: #000; opacity: 0.8; font-size: 0.8em; text-align: left; padding: 0.5em; position: absolute; bottom: 0; color: #fff;">
                        <p ng-bind-html="$parent.datas.konten[key] | unsafeHome"></p>
                    </div>
                </ons-carousel-item>
            </ons-carousel>
        </ons-page>
    </ons-template>
    <!-- DETAIL ARSIP -->
</body>

</html>
