/**/

@font-face {
    font-family: 'bebas';
    /*a name to be used later*/
    src: url('BebasNeue.otf');
    /*URL to font*/
}

@font-face {
    font-family: 'fontGrobold';
    /*a name to be used later*/
    src: url('GROBOLD.ttf');
    /*URL to font*/
}

.labelInfo {
    font-size: 0.7em;
    padding: 0 0.5em;
    /*margin-left: 0.2em;*/
    font-style: italic;
    position: absolute;
    right: 1em;
    bottom: 0.1em;
    /*left: 1em;*/
    /*top: 0.7em;*/
    transform: rotate(350deg) ;
    -webkit-transform: rotate(350deg) ;
    -moz-transform: rotate(350deg) ;
    -o-transform: rotate(350deg) ;
    -ms-transform: rotate(350deg) ;
}

.labelEventJudul {
    background-color: #CC0000;
    color: #fff;
    line-height: 70%;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.merah {
    background-color: #BC0F16;
    color: #fff;
}

.deskripsiEvent h1, h2 {
  font-size: 1.1em;
  font-weight: bold !important;
}

.fontGrobold {
  font-family: 'fontGrobold' !important;
  margin-left: 1em;
}

.listCard {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #ddd !important;
    box-shadow: 2px 2px 1px #eee !important;
    margin: 5px 10px 5px 10px !important;
    width: 93%;
}

.navigation-bar--material,
.bg-merah {
    background-color: #CC0000;
}

.fontBebas {
    font-family: 'bebas' !important;
}

#mapid {
    height: 180px;
}

.progress-bar {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #e0e0e0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0;
    overflow: hidden;
}

.progress-bar--determinate > .progress-bar__primary,
.progress-bar--determinate > .progress-bar__secondary {
    position: absolute;
    background-color: #CC0000;
    top: 0;
    bottom: 0;
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    transition: width 0.3s linear;
    z-index: 100;
}

.progress-bar--determinate > .progress-bar__secondary {
    background-color: #80cbc4;
    z-index: 0;
}

.progress-bar--indeterminate:before {
    content: '';
    position: absolute;
    background-color: #CC0000;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: progress-bar__indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    -moz-animation: progress-bar__indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    -o-animation: progress-bar__indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: progress-bar__indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress-bar--indeterminate:after {
    content: '';
    position: absolute;
    background-color: #CC0000;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: progress-bar__indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -moz-animation: progress-bar__indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -o-animation: progress-bar__indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: progress-bar__indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    -moz-animation-delay: 1.15s;
    -o-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@-moz-keyframes progress-bar__indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes progress-bar__indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@-o-keyframes progress-bar__indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes progress-bar__indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@-moz-keyframes progress-bar__indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@-webkit-keyframes progress-bar__indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@-o-keyframes progress-bar__indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes progress-bar__indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

.page--shop-details__content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px !important;
    bottom: 0px;
}

.card {
    background-color: white;
    background-image: url(images/sushi-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 250px;
}

.card-toolbar ons-back-button span {
    color: white;
}

.card-name {
    font-weight: 600;
    font-size: 20px;
    padding: 66px 0 8px 0;
    text-align: center;
}

.card-desc {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.9;
    text-align: center;
    line-height: 1.4;
}

.rating {
    text-align: center;
    position: relative;
    height: 0px;
}

.rating-num {
    position: relative;
    top: -24px;
    height: 24px;
    color: white;
    line-height: 24px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 4px 4px 0 0;
    padding: 0 6px;
    background-color: #eb482f;
    color: white;
    width: auto;
    margin: 0 auto 0 auto;
    display: inline-block;
}

.rating-num ons-icon {
    font-size: 11px;
    vertical-align: -0px;
}

.action-col {
    text-align: center;
    opacity: 0.4;
    padding: 10px 0 8px;
}

.action-col:active {
    opacity: 0.7;
}

.action-col ons-button {
    padding: 0;
    line-height: 1;
}

.action-icon {
    padding: 0 0 4px 0;
}

.action-icon ons-icon {
    font-size: 28px;
}

.action-label {
    font-size: 12px;
}

.prop-desc {
    font-size: 14px;
    opacity: 0.7;
}

.prop-desc ons-icon {
    font-size: 14px;
    vertical-align: -0px;
    opacity: 0.5;
}

.button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0;
    color: #fff;
    vertical-align: middle;
    background-color: rgba(24, 103, 194, 0.81);
    border: 0px solid currentColor;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.button:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.button:active {
    background-color: rgba(24, 103, 194, 0.81);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    opacity: 0.2;
}

.button:focus {
    outline: 0;
}

.button:disabled,
.button[disabled] {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.button--large {
    font-size: 17px;
    font-weight: 500;
    line-height: 36px;
    padding: 4px 12px;
    display: block;
    width: 100%;
    text-align: center;
}

.button--large:active {
    background-color: rgba(24, 103, 194, 0.81);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    opacity: 0.2;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.button--large:disabled,
.button--large[disabled] {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.button--large:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.button--large:focus {
    outline: 0;
}
